{{extend 'layout.html'}}
{{block head}}{{end}}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		{{if 'author' in locals():}}
		<br>
		{{for a in author:}}
		<div class="object" data-id="{{=a.AUTHOR_TR.id}}">
			<div class="object-data panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Author</h3>
				</div>
				<div class="panel-body">
					<p class="lead text-center">{{=a.AUTHOR_TR.DisplayName}}</p>
					<p class="text-center">{{=a.AUTHOR.YearBorn}} - {{=a.AUTHOR.YearDied}}</p>
					<p class="small">{{=a.AUTHOR_TR.Biography}}</p>
					<button class="btn btn-default button-edit">Edit</button>
					{{if a.AUTHOR_TR.WikipediaLink:}}
						<a class="btn btn-default pull-right" href="{{=a.AUTHOR_TR.WikipediaLink}}" target="_blank">Wikipedia</a>
					{{pass}}
				</div>
			</div><!--/.panel -->
			<div class="edit">
				{{=crud.update(db.AUTHOR_TR, a.AUTHOR_TR.id)}}
			</div>
		</div><!--/.object -->
		{{pass}}
		<br/>
		<br/>


		<h4>Works by {{for a in author:}}{{=a.AUTHOR_TR.DisplayName}}{{pass}}</h4>
		<div class="row">
			<div class="list-group col-md-8">
				{{for w in works:}}
				<a class="list-group-item" href="/Pindar/default/works/{{=w.WORK_TR.id}}">
					{{=w.WORK_TR.WorkName}} ({{=w.WORK.YearPublished}})
					{{if w[quotecount]>0:}}<span class="badge">{{=w[quotecount]}} quote{{if w[quotecount]==1:}} {{else:}}s{{pass}}</span>{{pass}}
				</a>
				{{pass}}
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<h4>Quotes by {{for a in author:}}{{=a.AUTHOR_TR.DisplayName}}{{pass}}
					<a href="/Pindar/default/add?author={{=a.AUTHOR.id}}" 
					class="btn btn-primary btn-sm pull-right">Add a quote</a>
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="list-group col-md-8">
				{{for q in quotes:}}
				<a class="list-group-item" href="/Pindar/default/quotes/{{=q.QUOTE.id}}">
					{{=q.QUOTE.Text}}
					<p class="small text-right">{{=q.WORK_TR.WorkName}}</p>
				</a>
				{{pass}}
			</div>
		</div>

		<hr>


		{{else:}}
		<h3>All Authors</h3>
		<div class="row">
			<div class="list-group col-md-8">
				{{for a in authors:}}
				<a class="list-group-item" href="/Pindar/default/authors/{{=a.AUTHOR_TR.id}}">
					{{=a.AUTHOR_TR.DisplayName}} ({{=a.AUTHOR.YearBorn}} - {{=a.AUTHOR.YearDied}})
					{{if a[workcount]>0:}}<span class="badge">{{=a[workcount]}} work{{if a[workcount]==1:}} {{else:}}s{{pass}}</span>{{pass}}
				</a>
				{{pass}}
			</div>
		</div>
		{{pass}}
		<br/>
		<hr>
		{{=response.toolbar()}}
	</div>
</div><!--/.row -->
{{block tail}}
<script>
	$(document).ready(function(){
		$('.edit').hide();
		$('.object').on('click', '.button-edit', function(){
			$(this).closest('.object').find('.edit').slideToggle();
		});
	});
</script>
{{end}}