{{extend 'layout.html'}}
{{block head}}
<style>
.object .text {
	cursor: pointer;
	padding: 5px;
}
.object:hover .panel {
	background-color: #f8f8f8;
}
</style>
{{end}}


{{counter = 0}}
	{{ for q in quotes:}}
		{{if counter % 3 == 0:}}
			<div class="row">
		{{pass}}
		<div class="col-md-4">
			<div class="object" data-id="{{=q.QUOTE.id}}">
				<div class="object-data panel panel-default">
					<div class="panel-body">
						<p class="text">
							{{if len(q.QUOTE.Text) > 250:}}
								{{=q.QUOTE.Text[:(q.QUOTE.Text).rfind(' ', 0, 250)]}} ...
							{{else:}}
								{{=q.QUOTE.Text}}
							{{pass}}
							</p>
						<p>
							<a class="btn btn-primary btn-sm" href="/Pindar/default/authors/{{=q.AUTHOR_TR.id}}">
							{{=q.AUTHOR_TR.DisplayName}}</a>
							<a class="btn btn-primary btn-sm" href="/Pindar/default/works/{{=q.WORK_TR.id}}">
							{{=q.WORK_TR.WorkName}}</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		{{if (counter + 1) % 3 == 0:}}
			</div>
		{{pass}}
		{{counter += 1}}
	{{pass}}
</div>



<div class="row">
	<div class="col-md-8 col-md-offset-2">
		{{=response.toolbar()}}
	</div>
</div>
{{block extrajs}}
<script>
$(document).ready(function(){
	$('.object').on('click', '.text', function(){
		window.location.href = '/Pindar/default/quotes/' + $(this).closest('.object').data('id');
	});
});
</script>
{{end}}