{{extend 'layout.html'}}
<form>
   <label for="query"><b>Search: </b></label>
   <input name="query" onkeyup="ajax('{{=URL('default', 'text_query')}}', ['query', 'lang'], 'target')" />
	<select name="lang" onchange="ajax('{{=URL('default', 'text_query')}}', ['query', 'lang'], 'target')">
   {{ for row in langs:}}
		<option value="{{=row.id}}">{{=row.NativeName}}</option>
   {{ pass }}
	</select>
</form>
<div id="target"></div>
<br/><br/>
<hr>
<h3>{{=header1}}</h3>
{{=results1}}
<hr>


{{=response.toolbar()}}